#| 写法               | 核心含义                          |
#| ---------------- | ----------------------------- |
#| `*.class`        | 任意位置的 `.class` 文件             |
#| `*.log`          | 任意位置的 `.log` 文件               |
#| `target/`        | 任意位置的 `target` 目录             |
#| `.idea/`         | 任意位置的 `.idea` 目录              |
#| `dist/`          | 任意位置的 `dist` 目录               |
#| `/dist/`         | 当前 `.gitignore` 所在目录下的 `dist` |
#| `config.js`      | 匹配任意位置的 `config.js`           |
#| `/config.js`     | 只匹配当前目录的 `config.js`          |
#| `doc/*.md`       | `doc` 这一层下面的 `.md`，不跨多级目录     |
#| `doc/**/*.md`    | `doc` 下任意层级的 `.md`            |
#| `**/logs/`       | 任意层级的 `logs` 目录               |
#| `!important.log` | 取消对 `important.log` 的忽略       |



# ===========================================
# Git Ignore for Java + Vue (Full Stack)
# IntelliJ IDEA + Maven/Gradle + Node
# ===========================================

.idea/
*.iml

*.class

target/
build/
out/
dist/
node_modules/

.gradle/
.nuxt/
.cache/
coverage/

*.jar
/0.javaSE/2023/01_课件与电子教材/尚硅谷_第02章_变量与运算符/【拓展】CodeCharts.pdf
*.css.bak
/8.java_网络编程/netty权威指南2/Netty权威指南（第2版） (李林锋) (z-lib.org).epub
/8.java_网络编程/netty权威指南2/Netty权威指南（第2版） (李林锋) (z-lib.org).pdf
*.log
/11.Spring全家桶/spring_security/深入浅出Spring Security.pdf
